body{
    overflow-x: hidden;
}

.carousel-inner{
    height: 500px;
}
.carousel-inner > .carousel-item > img{
   max-height: 500px; /*carousel-images have the same image*/
}
.modal-image{
    max-width: 100%;
    /* -moz-max-width: 100%; */
    max-height: 20%;
    /* -moz-max-height: 20%; */
}
.description-text{
    font-size: 0.9em;
}

td > p {
    font-weight: 600;
}

.product-name {
    color: white;
    text-decoration: none;
}

.product-name:hover{
    color: white;
    text-decoration: none;
}

/* image upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

/* make a footer sticky */
.footer {
    position: absolute;
    bottom: 0;
    /* height: 60px; */
    width: 100%;
    padding-top:20px;
    z-index:1000;
  }
  .signup-footer{
      position: relative;
  }

#login-section form{
   padding: 5% 0 !important;
}

/* firefox only css */
@-moz-document url-prefix() { 
    .modal-image{
        max-width: 100%;
        max-height: 50%;
    }

    .signup-footer{
       margin-top: 2%;
    }
  }


  /* media queries */
  